form{
    width: 60%;
}
.col-sm-12{
    margin-bottom: 5px;
}
.btn{
    margin-top: 5px;
}

.card{
    margin-top: 1%;
    width: 100%;
}
.card-text{
    font-size:19px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
label{
    font-size: 15px;
    font-weight: bold;
  }