<div class="card">
    <div class="card-body">
      <h3 class="card-title" style="font-weight: bold;">Fund Transfer</h3>
      <br>
      <h6 class="card-subtitle mb-2 text-muted">Transfer Money to the contact</h6>
<form class="form-group" style="margin-left:2%;" [formGroup]="transfer">
    <div class="form-group">
        <label for="balance">SENDER</label>

        <input type="text" class="form-control" formControlName="from" placeholder="{{curr_user}}"/>

        <label for="balance">BALANCE</label>
        <input type="text" class="form-control" [value]="from_bal" readonly>

        <label for="balance">AMOUNT</label>
        <input class="form-control" type="text" formControlName="amount">

        <label for="balance">RECEIVER</label>
        <select class="form-control" formControlName="to" required>
            <option *ngFor='let user of users' value="{{user.email}}" name="sender">{{user.email}}</option>
        </select>
        <button type="submit" class="btn btn-secondary w-100" (click)="onSubmit()">TRANSFER AMOUNT</button>
    </div>
</form>
    </div>