<div class="card">
    <div class="card-body">
      <h3 class="card-title" style="font-weight: bold;">Withdraw</h3>
      <br>
      <h6 class="card-subtitle mb-2 text-muted">Select an account to withdraw money from</h6>
      <form [formGroup]="withDrawForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="account">ACCOUNT</label>
            <select  required [formControl]="selectFormControl"  class="form-control "id="account">
                <option label="--select account --"></option>
                <option value="Joshua #1234">Saab</option>
                <option value="Joshua#1234">Mercedes</option>
                <option value="Joshua#1234">Audi</option>
              </select>

            <label for="balance">CURRENT BALANCE</label>
            <input type="number" class="form-control" id="balance">
            <br>
            <br>
            <label for="withdraw">AMOUNT TO WITHDRAW</label>
            <input type="number" class="form-control" id="withdraw">
            <button type="button" class="btn btn-secondary w-100">WITHDRAW</button>
        </div>
        <div class="container">
            
         </div>
        </form>
    </div>
  </div>