<div class="card">
    <div class="card-body">
      <h3 class="card-title" style="font-weight: bold;">Withdraw</h3>
      <br>
      <h6 class="card-subtitle mb-2 text-muted">Select an account to withdraw money from</h6>
      <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="account">ACCOUNT</label>
            <select  #myselect required   class="form-control " (change)="onAccountChange(myselect.value)" >
               <option selected>Select option</option>
                <option [value]="user.email" *ngFor="let user of users"   >{{user.email}}</option>
                
              </select>

            <label for="balance">CURRENT BALANCE</label>
            <input type="text" class="form-control" id="balance" [value]="balanceVal"  >
            <br>
            <br>
            <label for="withdraw">AMOUNT TO WITHDRAW</label>
            <input type="number" class="form-control" id="withdraw"  [(ngModel)]="withdrawAmount" name="alterEgo">
            <button type="submit" class="btn btn-secondary w-100">WITHDRAW</button>
        </div>
        </form>
    </div>
  </div>